* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: #292738;
  font-family: "Inter", sans-serif;
  color: white;
}

/* Renomeando as div's*/
main{
  display: flex;
  flex-direction: column;
  gap: 59px;
  align-items: center;
  justify-content: center;
  padding: 112px 123px 111px 123px;
  border-radius: 16px;
}
#tabela{
  /*Manipulando as exibicao*/
  display: flex;
  gap: 32px;
  /* justify-content: center; */
  align-items: flex-start;
}
#coluna1{
  /*Manipulando as diminsoes*/
  padding: 29px 42px;
  width: 296px;
  height: 379px;

  /*Manipulando as exibicao*/
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  /*Manipulando as bordas e sombras*/
  border-radius: 16px;
  background: #363447;
  box-shadow: 3px 4px 26px 0px rgba(0, 0, 0, 0.25);
}
#textoTop{
  font: normal 600 24px / 38.4px "Inter", sans-serif;
}
#colunaCenter{
  /*Manipulando as exibicao*/
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;

  /*Faz o preenchimento da div*/
  flex: 1 0 0;
}

/*Manipulando o tamanho da imagem*/
#coluna1Center img{
  width: 54px;
  height: 54px;
}

/*Manipulando O texto central*/
#colunaCenter p{
  font: normal 600 24px / 38.4px "Inter", sans-serif;
  color: #81fbb8;
}
footer{
  display: flex;
  gap: 20px;
  align-items: flex-start;
}
footer p{
  font: normal 500 14px /  22.4px "Inter", sans-serif;
}
#outro{
  font: normal 400 14px /  22.4px "Inter", sans-serif;
}
#coluna2{
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;

  padding: 29px 42px;
  width: 351px;
  height: 379px;

  border-radius: 16px;
  background: #363447;
  box-shadow: 3px 4px 26px 0px rgba(0, 0, 0, 0.25);
}
#circle {
  width: 197px;
  height: 197px;
}
#percentagem70 {
  background: url(./assets/percentagem70.svg);
  width: 197px;
  height: 197px;
  border: none;
}
#textoCenter{
  margin-top: -65%;
  align-items: center;
  text-align: center;
}
#textoCenter p{
  font: normal 600 34px / normal "Inter", sans-serif;
}
#parte1 {
  display: flex;
  align-items: center;
  gap: 10px;
}
#parte1Conteudo {
  display: flex;
  align-items: center;
  gap: 8px;
}
#parte1Conteudo p{
  font: normal 500 14px /  22.4px "Inter", sans-serif;
}
#coluna3{
  display: flex;
  padding: 29px 48px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  flex: 1 0 0;

  width: 409px;
  height: 379px;

  border-radius: 16px;
  background: #363447;
  box-shadow: 3px 4px 26px 0px rgba(0, 0, 0, 0.25);
}
#percentagem90{
  background: url(./assets/percentagem90.svg);
  width: 197px;
  height: 197px;
  border: none;
}